name: build

on:
  - push
  - pull_request

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            arch: 386
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
          - os: linux
            arch: arm
          - os: linux
            arch: ppc64le
          - os: linux
            arch: s390x
          - os: darwin
            arch: amd64
          - os: darwin
            arch: arm64
          - os: freebsd
            arch: amd64
          - os: openbsd
            arch: amd64
          - os: windows
            arch: amd64
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: |
            go.sum
          go-version-file: 'go.mod'
      - run: go version

      - name: Build ${{ matrix.os }}-${{ matrix.arch }}
        run: GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build
