name: main
on:
  - push
  - pull_request
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: oldstable
        id: go
      - name: Code checkout
        uses: actions/checkout@v6
      - name: Test
        run: |
          go test -v ./... -coverprofile=coverage.txt -covermode=atomic
          GOARCH=386 go test ./... -coverprofile=coverage.txt -covermode=atomic
          go test -v ./... -race
      - name: Build
        run: |
          GOOS=linux go build
          GOOS=darwin go build
          GOOS=freebsd go build
          GOOS=windows go build
          GOARCH=386 go build
      - name: Publish coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./coverage.txt
