name: test

on:
  - push
  - pull_request

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: |
            go.sum
          go-version-file: 'go.mod'

      - run: go version

      - name: Test
        run: |
          go test -v ./... -coverprofile=coverage.txt -covermode=atomic
          GOARCH=386 go test ./... -coverprofile=coverage.txt -covermode=atomic
          go test -v ./... -race

      - name: Publish coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./coverage.txt
